*{
    margin: 0;
    padding: 0;
}
@media (min-width:640px){
body{
    background-image:url(images/efe-kurnaz-315384.jpg);

}

/* Style The Dropdown Button */
.dropbtn {
    padding-left: 80px;
    background-color: white;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    flex-direction:column;  
    font-size: 45px;
    border: none;
   
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
 
    
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
   
}
#toggle-menu{
    display: none;
}
    .toggle-content{
        display: none;
    }
 
    .buttons{
        padding-top: 25px;
        
    }
    .buttons .button:last-child{
      float: right;
    }
  
    .button{
        display: inline-block;
        width:48%;
        font-weight: 700;
        text-align: center;
        padding:  0;
        text-decoration: none;
        color: black;
        font-family: 'Gurajada', serif;
        font-size:50px;
        border: 1px solid black;

    }
header{
    padding: 0 0 0 15px;
    margin: 20px 0;
    text-align:center;
    clear: both;
}
    .row a{text-decoration: none;}
 
    
.row{
    display:flex;
    flex-direction: row;
    padding-top: 50px;
 

}
    .row2{
    display:flex;
    flex-direction: row;
    padding:40px;
   
}
    p{
        margin-right: 110px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: white;
        font-weight: bold;
        line-height:1.5;
        font-size: 30px;
    }

    #row1{
        background-image: url(images/nainoa-shizuru-80385.jpg);
        background-repeat: no-repeat;
        background-size:contain;
         width: 3500px;
        height: 980px;
    }
    #row2{
         background-image: url(images/andrew-gaines-285238.jpg);
         background-repeat: no-repeat;
         background-size:contain;
         height: 980px;
        width: 3500px;
    }
    #row3{
        padding-left: 40px;
    }
    #lefttext{
    text-shadow: 1px 1px 2px pink, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Gurajada', serif;
    font-size: 60px;
    padding-left: 380px;
    
    }
    #leftp{
        text-align: left;
        margin-right:100px;
        color: white;
    }
  #righttext{
    text-shadow: 1px 1px 2px pink, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Gurajada', serif;
    font-size: 40px;
    margin-left: 40px;

    }
    #rightp{
        text-align: center;
        padding-left: 35px;
}
    #centertext{
    text-shadow: 1px 1px 2px pink, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Gurajada', serif;
    font-size: 40px;
    margin-left: 60px;
    
   
    }
    #centerp{
        text-align: center;
        padding-left: 60px;
    }

    h5{
        text-align: center;
        margin-top: -300px;
        padding-bottom: 50px;
        padding-top: 30px;
        
    }
    h3{
        text-align: center;
        color: white;
        padding-top:90px;
         text-decoration: none;
    }

   
h2{
    text-shadow: 1px 1px 2px pink, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Gurajada', serif;
    font-size: 70px;
    padding-left: 80px;
    padding-top: 50px;
    }
    .footer-content{
   
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
        
    }

    .footer-content{
        padding-left: 800px;
        
    }
.footer-content a{
        margin-right: -60px;
        font-size: 25px;
            
    }
    .terms-content a{
        
        font-size: 25px;
    }
#content{
    display: flex;
    margin-top: 3px;
    
}
nav{
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    background-color: white;
    margin-bottom: 5px;
    
  
}
h3{
    text-align: center;
    margin-top:50px;
    font-family: 'Gurajada', serif;
    font-size: 90px;
}

nav ul{
    list-style: none;
    
    
}

nav li li{
    display: block;
}
nav a{
    display: inline-block;
    padding-left: 80px;
    text-decoration: none;
    color: black;
    font-size: 45px ;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    flex-direction: column;

}

nav a:hover{
    text-decoration: underline deeppink;

}
}

@media (max-width:667px){

body{ 
    background-image:url(images/efe-kurnaz-315384.jpg)
    }
#toggle-menu{
    float:left;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: #f9f9f9;
    
}
 .toggle-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 25px;
     margin-top: 40px;
    
    
}   
    

.toggle-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.toggle-content a:hover {background-color: #f1f1f1;
    text-decoration: underline deeppink;}

/* Show the dropdown menu on hover */
.dropdown:hover .toggle-content {
    display: block;
}
    .row2{
display: none;}


 header {
    text-align: center;
    clear:both;
   
}
    nav a{
        display: none;
 
    }
    nav{
        
        display: none;
    }
   .column{
    flex-direction: column;
   
     }
    h2{
    text-shadow: 1px 1px 2px pink, 0 0 25px blue, 0 0 5px darkblue;
    font-family: 'Gurajada', serif;
    font-size: 20px;
    text-align: center;

     
    }
    h5{
        display: none;
    }
 #row1{
        background-image: url(images/nainoa-shizuru-80385.jpg);
        background-repeat: no-repeat;
       background-size: cover;
    width:100%;
     
        ;
    }
    #row2{
         background-image: url(images/andrew-gaines-285238.jpg);
         background-repeat: no-repeat;
         background-size:contain;
         
        width: 100%;
    } 
    
    
    
    
    
    
}